* {
    padding: 0;
    margin: 0;
}

.box {
    height: 400px;
    width: 600px;

    margin-left: 25%;
    margin-top: 100px;
    border: 1px solid black;
    box-shadow: 4px 4px 4px black;

    border-radius: 10px;
}



.booking-confirm-box {
    height: 80px;
    width: 100%;

    display: block;

}

.d {
    padding-top: 10px;
}

.d2 {
    padding-top: 10px;
    color: rgb(105, 201, 9);
}

.booking-confirm {
    height: 40%;
    width: 80%;

    margin-left: 10%;
    display: flex;
    justify-content: center;

}

.main-box {
    height: 250px;
    width: 100%;

    display: flex;

}

.booking-details {
    height: 100%;
    width: 60%;



}

.room-image {
    background-size: cover;
    border-radius: 10px;
}

h4 {
    margin-top: 10px;
}

.bd {
    margin-left: 10px;
    margin-top: 20px;
}

.booking-image {
    height: 150px;
    width: 40%;

    margin-top: 3%;
    border-radius: 10px;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

}

.goto {
    height: 40px;
    width: 30%;
    background-color: rgb(94, 181, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    border-radius: 5px;
}

.goto:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 2px black;
}

hr {
    height: 2px;
    background-color: black;
    width: 80%;
    margin-left: 10%;
}