* {
    margin: 0;
    padding: 0;
}

.mai {
    height: 1200px;

}


.navret {
    height: 10vh;
    background-color: #2E69A8;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;

}

/* sare nav items ki same 
class n me ye property h unko align karne ke liye  */
.n {
    height: 25px;
    width: 70px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;



}

.boat {
    padding: 12px 20px;
    background: #25D366;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}


.im {
    width: 100%;
    overflow-x: auto;

}

.imc {
    display: flex;
    flex-wrap: nowrap;

}

.imc img {
    width: 100%;
    object-fit: contain;
    flex-shrink: 0;


}

.im::-webkit-scrollbar-track {
    border-radius: 8px;
}

.Account {
    width: 100px;

}

a {

    text-decoration-line: none;
    color: white;

}

.dpage {
    display: flex;
    height: 600px;
    width: 80%;

    margin-left: 10%;
    margin-right: 10%;
    padding-top: 120px;
    z-index: 1;
    justify-content: space-evenly;



}

.imgsec {
    height: 500px;
    width: 50%;

}

.dealer {
    height: 470px;
    width: 30%;




}

.rl,
.fac,
.con {
    border-radius: 5px;
}

.rl {
    height: 30%;
    width: 100%;
    background-image: linear-gradient(to bottom, whitesmoke, rgb(195, 218, 227), rgb(112, 148, 158));

    margin-bottom: 10%;
    border: 2px solid rgb(55, 55, 188);
}

.rdd {
    margin-top: 7px;
    margin-left: 20px;
}

.t {
    font-weight: bolder;
    font-size: larger;
}

.ty {
    font-weight: bold;
}

.amd {
    margin-top: 7px;
    margin-left: 20px;
}

.rh {

    margin-left: 10px;
}

/* facilities section */
.fac {
    height: 40%;
    width: 100%;
    background-image: linear-gradient(to bottom, whitesmoke, rgb(195, 218, 227), rgb(112, 148, 158));

    margin-bottom: 10%;
    border: 2px solid rgb(55, 55, 188);
    overflow: scroll;
    border-collapse: collapse;

}

#rd {
    margin-left: 10px;
}

#r {
    margin-top: px;
}

.con {
    height: 20%;
    width: 100%;
    background-image: linear-gradient(to bottom, whitesmoke, rgb(195, 218, 227), rgb(112, 148, 158));
    display: block;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(55, 55, 188);


}


#cb {
    height: 30px;
    width: 80%;
    background-color: rgb(26, 127, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 5px;
}

#cb:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 3px rgb(89, 139, 13);
}

/* ye image ke liye h jo dealwr ke andar h details section bhi leader ke andar h */
.im {
    height: 50%;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid rgb(14, 14, 72);
    border-radius: 10px;

}

/* ye details section h isme do div bane h ek room details and amenities 
or ye khud image section ke sath ata h  */
.det {
    height: 50%;
    width: 100%;


}

/* ye details section me h room details ke liye */
.rd {
    height: 40%;
    width: 100%;
    background-image: linear-gradient(to bottom, whitesmoke, rgb(195, 218, 227), rgb(112, 148, 158));

    margin-bottom: 10px;
    margin-top: 20px;

    border: 1px solid rgb(14, 14, 59);
    border-radius: 25px;

}

.am {

    height: 40%;
    width: 100%;
    background-image: linear-gradient(to bottom, whitesmoke, rgb(195, 218, 227), rgb(112, 148, 158));

    margin-bottom: 10px;

    border: 1px solid rgb(14, 14, 59);
    border-radius: 25px;

}