* {
    padding: 0;
    margin: 0;
}

.more {
    height: 320px;
    width: 80%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;



    gap: 50px;

    border: 2px solid black;
    margin-left: 10%;
    margin-top: 100px;
    border-radius: 10px;
    margin-bottom: 50px;

}


.box {
    height: 250px;
    width: 250px;

    border: 2px solid rgb(15, 15, 115);
    border-radius: 15px;
    margin-top: 20px;

    margin-bottom: 50px;
    margin-left: 50px;


}

.im {
    height: 60%;
    width: 100%;

    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.tex {
    height: 40%;
    width: 100%;

    border-radius: 13px;
}

.ta {
    height: 60%;
    width: 100%;
    margin-left: 10px;
}

.ba {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

hr {
    background-color: black;
    height: 2px;
    width: 60%;
    margin-left: 50px;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 4px rgb(71, 71, 156);
}

.bt {

    background-image: linear-gradient(135deg, #FFF720 10%, #3CD500 100%);
}

.bt:hover {
    transform: scale(1.15);
}

.room-img {
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;


}