{% include "header.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/About-Us.css">
</head>

<body>

    <div class="abou">

        <h1 id="abut-heading"> About Us </h1>

    </div>

    <div class="about">
        <div class="abi"> </div>

        <pre class="abt"><br>
            Welcome to Housify, a dedicated room listing platform created
            especially for Chandigarh University students looking for safe,
            affordable, and comfortable accommodation in Nawabganj, Unnao.

            We understand how difficult it can be for students to find the right
            room when moving to a new place. Our goal is to make this process
            easy, transparent, and stress-free.That’s why we connect students
            directly with available room and PG options near the campus
            area—completely free of charge.
            <div class="why">
                <h2> Our mission is to:</h2>
                <t>Help students find rooms without any charges<br>
                Offer transparent and trusted listings<br>
                Make the accommodation search easy and stress-free<br>
                If you are a Chandigarh University student searching for a room, 
                you are in the right place. <br>.
            </div>  
        </pre>
    </div>
    <div class="about">
        <pre class="abt">
        All room listings are added with care, and we strive to provide genuine and 
        reliable information. Whether you are looking for single or shared rooms, 
        PG accommodation, or rooms for boys or girls, our platform offers multiple
        options to meet different needs and budgets.
        What makes us unique is that we are the only platform in this area solely
        focused on student room listings without charging any fees. Unlike brokers
        or agents, we do not take commission, brokerage, or service charges. 
        Our platform exists purely to simplify the connection between students 
        and room owners.
        <div class="why">
            <h2>    What Makes Us the Right Choice</h2>
            Only Dedicated Provider in the Area

            We are the only platform in this area focused exclusively on helping
            Chandigarh University students find rooms—without charging any fees.

            100% Free for Students

            No brokerage, no commission, and no hidden charges. Students can 
            search and connect with room owners completely free of cost.


        </div>



            
        </pre>
         <div class="abi2"> </div>

    </div>
{% include "footer.html"%}
</body>

</html>