<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/footermedia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

</head>

<body>
    <div class="footer">
        <div class="block"></div>

        <div class="f">
            <div class="cnt">
                <div class="c"> Contact Us</div>
                <br>
                <div class="p"> 8303970186</div>
                <div class="in"> <i class="fa-brands fa-instagram"></i>
                    <a href="https://www.instagram.com/suryansh.shukla1?igsh=eHJzNHM1YnRrMzB1" id="a">Instagram</a>
                    </i>
                </div>


            </div>
            <div class="ser">
                <div class="s"> Our Services</div>
                <div class="r">Renting </div>
                <div class="r">Rooms </div>
                <div class="r">Pg </div>
                <div class="r">Flat</div>

            </div>
            <div class="th">
                <div class="thr">Three Step Process</div>
                <div class="tr">Search</div>
                <div class="tr">Visit</div>
                <div class="tr">Book</div>
            </div>


        </div>
        <div class="hr">
            <hr id="h">
        </div>
        <div class="g">
            <div class="ic">
                <div class="ins"><a href="https://www.instagram.com/_housify_?igsh=MW1kajR0NDA0cHVveg==" id="an"><i
                            class="fa-brands fa-instagram"></a></i> </div>
                <div class="link"><a
                        href="https://www.linkedin.com/in/suryansh-shukla-52273a390?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                        id="lin"><i class="fa-brands fa-linkedin"></a></i> </div>
                <div class="face"> <i class="fa-brands fa-facebook"></i></div>
            </div>
        </div>
    </div>
</body>

</html>